<h2>Pokemon</h2>

<form action="/pokemon" method="post">
  <label>Name of Pokemon:</label>
  <input name = "pokemon[name]"> <br>
  <label>Type of Pokemon:</label>
  <input name="pokemon[poke_type]"><br>
  <input type="submit" value="Create">
</form>
